{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}

<div class="arena">
	<div class="header"> 
		<div class="title">YOU HAVE A</div>
		<div class="header-logo">{% include 'logo.html' %}</div>
		<div class="title">PROBLEM</div>
	</div>

	<p>Think you're better than your friends at trivia? Do they call you a know-it-all? Do you know it all? Are you the master of all things trivial? Well you may have a trivia problem!</p>
	<p>Sign Up or Log In to show off your skills.</p> 
</div>


{% endblock %}