{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}

<div class="arena">
	<div class="header"> 
		<div class="title">It's</div>
		<div class="header-logo">{% include 'logo.html' %}</div>
		<div class="title">Time!</div>
	</div>
	<p> {{user|upper}}, this question is {{question.difficulty}}. You know about {{question.category}}, right? </p>
	<div class="q_area">
		<div class="question">{{question.q_text}}</div>
		<div class="answers">
			{% for ans in answers %}
				<a href="{{question.id}}/answer/{{ans}}">
					<div class="btn">{{ans}}</div>
				</a>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}