{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}

<div class="arena">
	<div class="header">
		<div class="title">How Do You Compare?</div>
	</div>
	<table class="ranking">
		<thead>
			<tr>
				<th>User</th>
				<th>Questions Answered</th>
				<th>Accuracy</th>
			</tr>
		</thead>
		<tbody>
			{% for profile in all_profiles %}
				<tr>
					<td>{{ profile.user|upper }}</td>
					<td class="num-field">{{ profile.q_answered }}</td>
					<td class="num-field">{{ profile.percent }}%</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}