{% extends 'base.html' %}
{% block content %}

	<div class="nav-bar">
		<a href="{% url 'home' %}"><div class="logo-btn">{% include 'logo.html' %}</div></a>
		<div class="nav">
			{% if user.is_authenticated %}
				<div class="btn-block">
					<a href="{% url 'user_ranking' %}"><div class="btn">User Ranking</div></a>
					<a href="{% url 'question' %}"><div class="btn">Question</div></a>
				</div>
				<div class="btn-block">
					<a href="{% url 'user_profile' user.id %}"><div class="btn">My Profile</div></a>
			    	<a href="{% url 'logout' %}"><div class="btn">Logout</div></a>
			    </div>
		    {% else %}
		    	<div class="btn-block">
			    	<a href="{% url 'user_ranking' %}"><div class="btn">User Ranking</div></a>
			    </div>
		    	<div class="btn-block">
				    <a href="{% url 'signup' %}"><div class="btn">Sign Up</div></a>
				    <a href="{% url 'login' %}"><div class="btn">Login</div></a>
				</div>
			{% endif %}
		</div>
	</div>

{% endblock %}